/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: Microsoft JhengHei UI;
}

.wrap{
    background: #F6F6F8;
}

.top{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

.top a{
    display:flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 9px;
    text-decoration: none;
}


.top a img{
    margin-right: 5px;
}

.fb{
    color: #4267B2;
}

.twitter{
    color:#1DA1F2;
    border-left: 1px solid #CCCCCC;
    margin-left: 3px;
}

.fb:hover, .twitter:hover{
    text-decoration: underline;
}


.menu{
    display:flex;
    justify-content:space-between;
    align-items:center ;
    max-width: 1120px;
    margin: 0 auto;
}

.menu h1 a{
    display:block;
    width: 151px;
    height: 36px;
    background-image: url(../final_images/hexschool-logo_svg.svg);
    text-indent:101%;
    overflow:hidden;
    white-space:nowrap;
}


.menu ul{
    display:flex;
}

.menu ul li a{
    display:block;
    height: 76px;
    line-height: 76px;
    text-decoration:none;
    font-weight:700;
    color:#00251A;
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;
}

.menu ul li a:hover{
    border-bottom:4px solid #00CC99;
}

.banner{
    height: 390px;
    background-image: url(../final_images/header_background.png);
    background-position: center;
    background-size: cover;
    position:relative;
    margin-bottom: 60px;
}

.banner h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    padding-top: 27px;
    padding-bottom: 26px;
    padding-left: 26%;
    background-color: rgba(255,255,255,0.15);
    width: 100%;
    box-sizing: border-box;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.course{
    display:flex;
    margin-bottom: 60px;
    justify-content:center;
}

.courseitem{
    width: 350px;
    padding:20px;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.itemimg{
    display: flex;
    height: 157px;
    justify-content: center;
    align-items: center;
}


.courseitem h4{
    font-size: 20px;
    line-height:24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}

.course p,ul,li{
    line-height: 24px;
}

.table1{
    margin-bottom: 60px;
}

.table1 h3{
    text-align: center;
    font-weight:700;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 24px;
}

table{
    width: 920px;
    margin: 0 auto;
    text-align: left;
    line-height:24px;
}


table tr th{
    font-weight: 700;
    border-top:1px solid #CCCCCC;
}

table th, td{
    border-bottom:1px solid #CCCCCC;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    padding-left: 17px;
}

.green{
    font-weight: 700;
    color:#00CC99;
}

.form1{
    padding-top: 36px;
    height: 455px;
    box-sizing: border-box;
    background:linear-gradient(#E4FFF8,#A2DDCE)
}

.form1 h3{
    text-align: center;
    font-weight:700;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 28px;
}

form{
    text-align: center;
}

.formcontent{
    display:flex;
    justify-content:center;
}

.box1{
    width: 351px;
    height: 38px;
    margin-top: 8px;
    margin-bottom: 16px;
    border:1px solid #AAAAAA;
}

.box2{
    width: 350px;
    height: 200px;
    margin-top: 8px;
    border:1px solid #AAAAAA;
}

.formitem{
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}


.btn{
    background: #00251A;
    color:#FFFFFF;
    line-height: 19.2px;
    text-align: center;
    width: 159px;
    height: 38px;
    margin-top: 16px;
}

.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}

.footer p{
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}

.footer span{
    color:#00CC99;
}