/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.bg{
    width: 1303px;
    height: 767px;
    background: #00f5a8;
    margin: 0 auto;
    display:flex;
}

.title{
    writing-mode: vertical-lr;
    margin-top: 136px;
    margin-left: 128px;
}

.title h1{
    font-size: 58px;
}

.title h2{
    font-size: 28px;
}

.namecard{
    width: 722px;
    height: 422px;
    background: #ededed;
    margin-left: 92px;
    margin-top: 112px;
    position:relative;
}

.namecard img{
    margin-bottom: 48px;
    margin-left: 35px;
    margin-top: 32px;
    width:30%;
}

.work{
    font-size: 30px;
    color:#40858f;
    margin-left: 47px;
}

.name{
    font-size: 40px;
    position:absolute;
    left:150px;
    top:195px;

}

.infor{
    font-size: 22px;
    color:#40858f;
    line-height:1.3;
    position:absolute;
    bottom:35px;
    margin-left: 47px;
}

.six{
    width: 150px;
    height: 130px;
    background: #659d92;
    -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
    position:absolute;
    top:143px;
    right: 90px;
}

.six1{
    width: 296px;
    height: 256px;
    background: #00c178;
    -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
    position:absolute;
    left: 563px;
    bottom: 222px;
    clip: rect(56px, 160px, 256px, 0px);

}

.six2{
    width: 196px;
    height: 170px;
    background: #6bd3a7;
    -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
    position:absolute;
    left: 592px;
    bottom: 44px;
    clip: rect(0px, 130px, 170px, 0px);

}